.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 5px;
    grid-auto-flow: row;
    height: 100vh;
  }
  

  [class^="div"]{
    border:2px solid;
    background-color: cadetblue;
  }
  .div1 { grid-area: 1 / 1 / 2 / 4;

}
  
  .div2 { grid-area: 2 / 1 / 3 / 4;
     }
  

  .div3 { grid-area: 1 / 4 / 3 / 5; }
  
  .div4 { grid-area: 3 / 1 / 6 / 2; }
  .div5 { grid-area: 5 / 2 / 6 / 5; }
  
  .div6 { grid-area: 3 / 2 / 5 / 5; }
  
  .div7 { grid-area: 6 / 1 / 8 / 3; }
  
  .div8 { grid-area: 6 / 3 / 8 / 5; }
  
  .div9 { grid-area: 8 / 1 / 9 / 5; }
  
  .div10 { grid-area: 9 / 1 / 10 / 4; }
  
  .div11 { grid-area: 9 / 4 / 10 / 5; }
  
  .div12 { grid-area: 9 / 1 / 11 / 4; }
  
  .div13{ grid-area: 9 / 4 / 12 / 5; }
  
  .div14 { grid-area: 11 / 1 / 12 / 4; }
  
  .div15 { grid-area: 1 / 7 / 3 / 9; }
  
  .div16 { grid-area: 1 / 5 / 3 / 7; }
  
  .div17 { grid-area: 3 / 5 / 4 / 9; }
  
  .div18 { grid-area: 4 / 5 / 6 / 9; }
  
  .div19 { grid-area: 6 / 5 / 7 / 9; }
  
  .div20 { grid-area: 7 / 5 / 9 / 7; }
  
  .div21 { grid-area: 7 / 7 / 9 / 9; }
  
  .div22 { grid-area: 9 / 5 / 11 / 9; }
  
  .div23 { grid-area: 11 / 5 / 12 / 9; }
  
  .div24 { grid-area: 1 / 9 / 2 / 13; }
  
  .div25 { grid-area: 2 / 9 / 3 / 11; }
  
  .div26 { grid-area: 2 / 11 / 3 / 13; }
  
  .div27 { grid-area: 1 / 13 / 3 / 15; }
  
  .div28 { grid-area: 3 / 9 / 5 / 15; }
  
  .div29 { grid-area: 5 / 13 / 8 / 15; }
  
  .div30 { grid-area: 5 / 9 / 6 / 11; }
  
  .div31 { grid-area: 5 / 11 / 6 / 13; }
  
  .div32 { grid-area: 6 / 9 / 8 / 13; }
  
  .div33 { grid-area: 8 / 9 / 9 / 15; }
  
  .div34 { grid-area: 9 / 9 / 12 / 11; }
  
  .div35 { grid-area: 9 / 11 / 11 / 15; }
  
  .div36 { grid-area: 11 / 11 / 12 / 13; }
  
  .div37 { grid-area: 11 / 13 / 12 / 15; }
  
  .div38 { grid-area: 1 / 15 / 3 / 19; }
  
  .div39 { grid-area: 3 / 15 / 4 / 17; }
  
  .div40 { grid-area: 3 / 17 / 4 / 19; }
  
  .div41 { grid-area: 4 / 15 / 5 / 19; }
  
  .div42 { grid-area: 5 / 15 / 7 / 19; }
  
  .div43 { grid-area: 7 / 15 / 10 / 17; }
  
  .div44 { grid-area: 7 / 17 / 10 / 19; }
  
  .div45 { grid-area: 10 / 15 / 11 / 19; }
  
  .div46 { grid-area: 11 / 15 / 12 / 19; }

  